<section>
    <div class="box">
        <div class="box-header">
            <div class="box-logo">
                <p class="title-studio">Studio Pilates</p>
                <span class="icon-pilates"></span>
                <p class="title-studio">Paula Veber</p>
            </div>
            <div class="box-menu">
                <button>Home</button>
                <button>Sobre</button>
                <button>Contato</button>
            </div>
        </div>
        <div class="content">
            <div class="box-image">
                <img class="image" src="../assets/pilates-photo.png">
            </div>
            <div class="info">
                <div class="info-title">
                    <h2>Benefícios do </h2>
                    <h2>Pilates</h2>
                </div>
                <p>
                    Where does it come from?
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
                </p>
                <div class="info-button">
                    <button>
                        Experimente já!
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Todos os direitos reservado a LAG Production.</p>
        </div>
    </div>
</section>