<section>
    <div class="box">
        <div class="box-header">
            <div class="box-logo">
                <p class="title-studio">Studio Pilates</p>
                <span class="icon-pilates"></span>
                <p class="title-studio">Paula Veber</p>
            </div>
            <div class="box-menu">
                <button>Home</button>
                <button>Sobre</button>
                <button>Contato</button>
            </div>
        </div>
        <div class="content">
            <div class="box-image">
                <img class="image" src="../assets/pilates-photo.png">
            </div>
            <div class="info">
                <div class="info-title">
                    <h2>Descubra uma Vida Mais Saudável e </h2>
                    <h2>Equilibrada <span>com o Pilates</span></h2>
                </div>
                <p>
                    Você está em busca de uma maneira eficaz e gratificante de melhorar sua saúde física e mental? O Pilates pode ser a resposta que você procura! Esta prática de exercícios é mais do que apenas um treino; é uma jornada de autodescoberta que pode transformar sua vida de várias maneiras.
                </p>
                <div class="info-button">
                    <button>
                        Experimente já!
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Todos os direitos reservado a LAG Production.</p>
        </div>
    </div>
</section>