* {
    padding: 0;
    margin: 0;
}

body {
    background: url(assets/studio-pilates-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: QueensidesMedium;
    src: url(assets/fonts/QueensidesMedium.ttf);
}
